<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Itim|Lobster|Montserrat:500|Noto+Serif|Nunito|Patrick+Hand|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab|Saira" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Life’s a beach VietNam</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <div class="header">
        <div class="logo">
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../static/img/527619306.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/img/445476376.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/img/527619253.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/img/445850512.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/img/527619249.jpg" alt=""></div>
                <!-- Thêm các slide khác ở đây -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title text-center text-primary text-uppercase"></h6>
        <h1><span class="text-primary text-uppercase">Menu</span></h1>
    </div>
    
    <div class="activities-container">
        <div class="activity-category">
            <div class="activity-category-title">Foods</div>
            <div class="activity-items">
                <div class="activity-item">
                    <img src="../static/img/burger.jpg" alt="Burger">
                    <div class="activity-title">Burger</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/422829799_762888059191408_7740511132614926339_n.jpg" alt="All day breakfast">
                    <div class="activity-title">All day break fast</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/423694912_768494495297431_6328441669929117129_n.jpg" alt="Beach Bar Activity 3">
                    <div class="activity-title">Bo ne</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/419550222_18404910496021599_6214367385216229021_n.jpg" alt="Beach Bar Activity 3">
                    <div class="activity-title">Vietnamese food</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/burger.jpg" alt="Burger">
                    <div class="activity-title">Burger</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/422829799_762888059191408_7740511132614926339_n.jpg" alt="All day breakfast">
                    <div class="activity-title">All day break fast</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/423694912_768494495297431_6328441669929117129_n.jpg" alt="Beach Bar Activity 3">
                    <div class="activity-title">Bo ne</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/419550222_18404910496021599_6214367385216229021_n.jpg" alt="Beach Bar Activity 3">
                    <div class="activity-title">Vietnamese food</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/burger.jpg" alt="Burger">
                    <div class="activity-title">Burger</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/422829799_762888059191408_7740511132614926339_n.jpg" alt="All day breakfast">
                    <div class="activity-title">All day break fast</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/423694912_768494495297431_6328441669929117129_n.jpg" alt="Beach Bar Activity 3">
                    <div class="activity-title">Bo ne</div>
                </div>
                <div class="activity-item">
                    <img src="../static/img/419550222_18404910496021599_6214367385216229021_n.jpg" alt="Beach Bar Activity 3">
                    <div class="activity-title">Vietnamese food</div>
                </div>
                <!-- Thêm các activity khác vào đây -->
            </div>
        </div>
        <div class="activity-category">
            <div class="activity-category-title">Drinks</div>
            <div class="activity-items">
                <div class="activity-items">
                    <div class="activity-item">
                        <img src="../static/img/watermelon-kappa-spritz-26281-2.jpg" alt="Beach Bar Activity 1">
                        <div class="activity-title">Watermelon kappa sprit</div>
                    </div>
                    <div class="activity-item">
                        <img src="../static/img/the-cool-green-26280-2.jpg" alt="Beach Bar Activity 2">
                        <div class="activity-title">The cool green</div>
                    </div>
                    <div class="activity-item">
                        <img src="../static/img/apple-tea-mocktail-and-pretty-in-pink-vodka-cooler-19147-3.jpg" alt="Beach Bar Activity 3">
                        <div class="activity-title">Apple tea mocktail</div>
                    </div>
                    <div class="activity-item">
                        <img src="../static/img/champagne-cocktails-19195-3.jpg" alt="Beach Bar Activity 1">
                        <div class="activity-title">Watermelon kappa sprit</div>
                    </div>
                    <div class="activity-item">
                        <img src="../static/img/raspberry-prosecco-and-mint-cocktail-14192-2.jpg" alt="Beach Bar Activity 2">
                        <div class="activity-title">Raspberry prosecco and mint cocktail</div>
                    </div>
                    <div class="activity-item">
                        <img src="../static/img/summer-shandy-19135-2.jpg" alt="Beach Bar Activity 3">
                        <div class="activity-title">Summer shandy</div>
                    </div>
                    <div class="activity-item">
                        <img src="../static/img/ice-tea-mocktail-19140-2.jpg" alt="Beach Bar Activity 3">
                        <div class="activity-title">Ice tea mocktail</div>
                    </div>
                    <!-- Thêm các activity khác vào đây -->
                </div>
            </div>
        </div>
        <!-- Thêm các chủ đề khác vào đây -->
    </div>
    <div class="container">
        <h2 class="section-title">Discover Our Restaurant & Beach Bar</h2>
        <div class="swiper-container_bar">
            <div class="swiper-wrapper">
                <div class="swiper-slide_bar">
                    <img class="restaurant-bar-image" src="../static/img/bar1.jpg" alt="Restaurant Image 1">
                    <div class="overlay">
                        <div class="overlay-content">Restaurant & Beach Bar</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="restaurant-bar-image" src="../static/img/bar2.jpg" alt="Restaurant Image 2">
                    <div class="overlay">
                        <div class="overlay-content">Relaxing Atmosphere</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="restaurant-bar-image" src="../static/img/bar3.jpg" alt="Restaurant Image 2">
                    <div class="overlay">
                        <div class="overlay-content">Relaxing Atmosphere</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="restaurant-bar-image" src="../static/img/bar4.jpg" alt="Restaurant Image 2">
                    <div class="overlay">
                        <div class="overlay-content">Relaxing Atmosphere</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="restaurant-bar-image" src="../static/img/bar8.jpg" alt="Restaurant Image 3">
                    <div class="overlay">
                        <div class="overlay-content">Delicious Cuisine</div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
           <!-- Nút điều hướng -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="restaurant-info">
        <h2>Restaurant Hours</h2>
        <div class="restaurant-hours">
            <p><strong>Beach bar:</strong> 9:00 AM - 12:00 PM</p>
            <p><strong>Restaurant:</strong> 9:00 AM - 10:00 PM</p>
            <p><strong>Happy hour:</strong> 6:00 PM - 7:00 PM</p>
        </div>
        <div class="restaurant-description">
            <p>
                Indulge in a delightful culinary experience by the seaside with an extensive selection of dishes from Europe, Vietnam, and traditional Vietnamese family dinners. Our beachfront restaurant offers a diverse menu featuring mouthwatering options to satisfy every craving. From savory European classics to authentic Vietnamese specialties, guests can embark on a culinary journey that celebrates the rich flavors and traditions of both cultures.</p>
        </div>
        <div class="restaurant-description">
            <p>In addition to our delectable food offerings, we also feature an enticing array of beverages, including a variety of beers and handcrafted cocktails. Whether you prefer a refreshing beer to complement your meal or a meticulously crafted cocktail to enjoy as you soak in the ocean breeze, our bar has something for everyone.</p>
        </div>
        <div class="restaurant-description">
            <p>Join us during our restaurant hours to experience the perfect blend of flavors and cultures, creating unforgettable memories with every sip and bite.</p>
        </div>
    </div>
    <div class="modal" id="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modal-image">
    </div>
    <div class="container">
        <h2 class="section-title">BBQ</h2>
        <div class="swiper-container_bar">
            <div class="swiper-wrapper">
                <div class="swiper-slide_bar">
                    <img class="restaurant-bar-image" src="../static/img/411989567_742257017921179_1528116566862701907_n.jpg" alt="Restaurant Image 1">
                    <div class="overlay">
                        <div class="overlay-content">Restaurant & Beach Bar</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="restaurant-bar-image" src="../static/img/412918740_742257011254513_4686887418528917649_n.jpg" alt="Restaurant Image 2">
                    <div class="overlay">
                        <div class="overlay-content">Relaxing Atmosphere</div>
                    </div>
                </div>
                <div class="swiper-slide_bar">
                    <img class="restaurant-bar-image" src="../static/img/411989567_742257017921179_1528116566862701907_n.jpg" alt="Restaurant Image 3">
                    <div class="overlay">
                        <div class="overlay-content">Restaurant & Beach Bar</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="restaurant-bar-image" src="../static/img/412918740_742257011254513_4686887418528917649_n.jpg" alt="Restaurant Image 4">
                    <div class="overlay">
                        <div class="overlay-content">Relaxing Atmosphere</div>
                    </div>
                </div>
                <!-- Thêm các ảnh khác vào đây -->
            </div>
            <!-- Add Pagination -->
           <!-- Nút điều hướng -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div style="padding: 20px;">
        <h2>OUR MENU THAT ALL YOU CAT EAT IN</h2>
        <div class="menu">
            <img class="menu-item" src="../static/img/design-awesome-restaurant-menu.jpg" alt="Image 1">
            <img class="menu-item" src="../static/img/design-awesome-restaurant-menu.jpg" alt="Image 2">
            <!-- Thêm các ảnh khác vào menu -->
        </div>
    </div>
    <div class="booking-container">
        <!-- Booking Button -->
        <button class="booking-button" onclick="redirectToBookingPage()">Booking Now</button>
        <!-- End Booking Button -->
    </div>
    
    <!-- End Booking Button -->
    <footer class="footer">
        <div>
            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i> Instagram</a>
            <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i> YouTube</a>
            <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i> TikTok</a>
        </div>
        <div>
            <p><i class="fa fa-phone"></i> Phone: +84 978931085</p>
            <p><i class="fa fa-envelope"></i> Email: info@lifesabeachvietnam.com</p>
            <p><i class="fa fa-map-marker"></i> Address: Thôn 2 Bãi Bàng, QL1D, Xuân Hải, Sông Cầu, Phú Yên 560000, Vietnam</p>
        </div>
    </footer>  

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: {
                delay: 2000, // Thời gian hiển thị của mỗi slide (ms)
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
    <script>
        function redirectToBookingPage() {
            // Replace the URL with your booking page URL
            window.location.href = "https://925a4e94691ca736.sirvoy.me/";
        }
    </script>
     <script>
        var swiper = new Swiper('.swiper-container_bar', {
            // Cấu hình hiệu ứng chuyển động
            effect: 'coverflow', // Đổi hiệu ứng lướt slide
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            // Cấu hình nút điều hướng
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        function togglePopup() {
            var popupContent = document.querySelector(".popup-content");
            if (popupContent.style.display === "none") {
                popupContent.style.display = "block";
            } else {
                popupContent.style.display = "none";
            }
        }

        var swiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: {
                delay: 2000, // Thời gian hiển thị của mỗi slide (ms)
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

        function togglePopup() {
            var popupContent = document.querySelector(".popup-content");
            if (popupContent.style.display === "none") {
                popupContent.style.display = "block";
            } else {
                popupContent.style.display = "none";
            }
        }

        function togglePopup() {
            var popupContent = document.querySelector(".popup-content");
            if (popupContent.style.display === "none") {
                popupContent.style.display = "block";
            } else {
                popupContent.style.display = "none";
            }
        }

        // Lấy modal và ảnh modal
        var modal = document.getElementById("modal");
        var modalImg = document.getElementById("modal-image");

        // Lấy tất cả các ảnh trong menu
        var menuItems = document.getElementsByClassName("menu-item");

        // Lặp qua từng ảnh trong menu và thêm sự kiện click
        for (var i = 0; i < menuItems.length; i++) {
            menuItems[i].onclick = function() {
                modal.style.display = "block"; // Hiển thị modal khi click vào ảnh
                modalImg.src = this.src; // Hiển thị ảnh lớn tương ứng với ảnh được click
            }
        }

        // Đóng modal khi click vào nút đóng
        function closeModal() {
            modal.style.display = "none";
        }

    </script>
</body>
</html>
