<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Itim|Lobster|Montserrat:500|Noto+Serif|Nunito|Patrick+Hand|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab|Saira" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Life’s a beach VietNam</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <div class="header">
        <div class="logo">
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../static/img/527619306.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/img/445476376.jpg" alt=""></div>
                <!-- Thêm các slide khác ở đây -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div style="padding-top: 5%;" class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title text-center text-primary text-uppercase"></h6>
        <h1><span class="text-primary text-uppercase">Getting here</span></h1>
        <h1><span class="text-primary text-uppercase">Life’s a Beach</span></h1>
    </div>
    <div class="accommodation-info">
        <div class="info-content">
            <h2>Directions</h2>
            <p>The city of Quy Nhon has good transport links although they may not be at the most convenient times of day.</p>
            <p>PLEASE MAKE SURE THAT YOU KEEP US INFORMED OF YOUR ANTICIPATED TIME OF ARRIVAL.</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-image-container">
                <img class="card-image" src="../static/img/hang-ve-pho-thong-tiet-kiem-cua-vietnam-airlines.jpg" alt="Image 1">
            </div>
            <div class="card-content">
                <h3 class="card-title">Air Plane</h3>
                <p class="card-text"> Quy Nhon airport (UIH) has a number of flights daily from Saigon and Hanoi. The easiest way to get to us is by taxi. This journey takes about 1¼ hours. We can arrange a taxi to meet you on arrival and bring you here for 500,000 VND payable directly to the driver. You could also take the shuttle bus to the Vietnam Airlines office on Mai Xuan Thuong for between 60,000 and 80,000 vnd. From there a metered taxi or a Grab car should be about 250,000 vnd. Please check your e-mails regularly before your flight as the flight times can change in the days leading up to your departure. If you have a taxi booked with us then remember to keep us informed.</p>
                <li><a href="https://www.vietnamairlines.com/">Link to Vietnam Airlines</a></li>
                <li><a href="https://vexere.com/">Another link can visit</a></li>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container">
                <img class="card-image" src="../static/img/1687169839.jpg" alt="Image 2">
            </div>
            <div class="card-content">
                <h3 class="card-title">Rail</h3>
                <p class="card-text">There are two railways stations nearby:</p>
                <p class="card-text">Quy Nhon train station is a small station in the city with an extremely limited service. If you are coming into this station then we can arrange a taxi to meet you on arrival and bring you here for 250,000 VND payable directly to the driver.</p>
                <p class="card-text">Dieu Tri train station is the main station serving the area. This is about 30 minutes away by taxi. We can arrange a taxi to meet you on arrival and bring you here for 350,000 VND payable directly to the driver.</p>
                <li><a href="https://dsvn.vn/">Link to Vietnam Rail</a></li>
                <li><a href="https://vexere.com/">Another link can visit</a></li>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container">
                <img class="card-image" src="../static/img/ben_xe_phuong_trang_le_hong_phon.jpg" alt="Image 2">
            </div>
            <div class="card-content">
                <h3 class="card-title">Bus</h3>
                <p class="card-text">IMPORTANT INFORMATION! – if you are arriving on a late bus, make sure that the bus goes into the city of Quy Nhon. Some buses bypass the city altogether and drop you on the highway. From there it is incredibly difficult to get a taxi and you may find yourself stranded in the dark.
                    Most buses arrive into Quy Nhon at the bus station on Tay Son in front of the Go and Mega Mart shopping centres. Very often they will let you off at the Petrol station in front of the bus station. From there you can catch a taxi from the bus station to us for about 200,000 VND. Unfortunately, we cannot arrange for a taxi to collect you from the bus station as the arrival times for the buses are very unreliable.
                </p>
                <p class="card-text">
                    If you are coming from the south you can usually get the bus driver to let you out at our place. Track your journey on Google Maps as he is unlikely to know the exact position and once you are off the bus we are unlikely to be able to determine your location.
                    We are right next door to RuBeach Hotel. If you pass Anantara, Avani and Casa Marina resorts then you have gone too far and should continue to the city where you can safely get a taxi back.
                </p>
                <a href="https://vexere.com/">Link to Buy bus ticket</a>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container">
                <img class="card-image" src="../static/img/Taxi-4cho-vios.jpg" alt="Image 2">
            </div>
            <div class="card-content">
                <h3 class="card-title">Car</h3>
                <p class="card-text">Grab does operate in the city of Quy Nhon but currently the car service is very limited. They will not go out of the city to collect you so please bear this in mind if you are arriving late at night.
                    If you are going to get a taxi yourself then please make sure you have clear instructions for how to reach us as many taxi drivers are unaware of our location. If he tries to take you to Bai Xep (pronounce Buy Sep) then this is wrong – DO NOT LET THE DRIVER DROP YOU OFF THERE!</p>
                    <p class="card-text">We can arrange for a taxi to meet you from the Airport or Train Station. He will meet you with a sign with your name, wait should your arrival time be delayed and help you in with your luggage. This is a fixed price taxi but priced according to a metered taxi. You can pay the driver directly.</p>
            </div>
        </div>
        <!-- Thêm các card khác vào đây -->
    </div>
    <div class="booking-container">
        <!-- Booking Button -->
        <button class="booking-button" onclick="redirectToBookingPage()">Booking Now</button>
        <!-- End Booking Button -->
    </div>
    <!-- End Booking Button -->
    <footer class="footer">
        <div>
            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i> Instagram</a>
            <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i> YouTube</a>
            <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i> TikTok</a>
        </div>
        <div>
            <p><i class="fa fa-phone"></i> Phone: +84 978931085</p>
            <p><i class="fa fa-envelope"></i> Email: info@lifesabeachvietnam.com</p>
            <p><i class="fa fa-map-marker"></i> Address: Thôn 2 Bãi Bàng, QL1D, Xuân Hải, Sông Cầu, Phú Yên 560000, Vietnam</p>
        </div>
    </footer>    

    <script>
        function redirectToBookingPage() {
            // Replace the URL with your booking page URL
            window.location.href = "https://925a4e94691ca736.sirvoy.me/";
        }
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: {
                delay: 2000, // Thời gian hiển thị của mỗi slide (ms)
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
    <!-- JavaScript để kích hoạt Fancybox -->
    <script>
        $(document).ready(function() {
            $("[data-fancybox]").fancybox({
                buttons: [
                    "slideShow",
                    "fullScreen",
                    "thumbs",
                    "close"
            ],
            loop: true
        });
    });
</script>
</body>
</html>
